include README.rst requirements.txt LICENSE
recursive-include feedhq *
recursive-exclude feedhq *.pyc
recursive-exclude feedhq/test_media *
recursive-exclude feedhq/static *
recursive-exclude feedhq/media *
recursive-exclude tests *
