include README.rst requirements.txt LICENSE
recursive-include feedhq/templates *
recursive-include feedhq/feeds/static *
recursive-include feedhq/feeds/templates *
recursive-include feedhq/feeds/tests *
recursive-include feedhq/profiles/templates *
recursive-exclude feedhq *.pyc
recursive-exclude feedhq *.scss
exclude feedhq/settings.py
