-r requirements.txt
beautifulsoup4==4.5.1
django-debug-toolbar==1.5
django-elasticsearch-debug-toolbar==1.0.4
django-webtest==1.7.9
factory-boy==2.7.0
py==1.4.31
pytest==2.9.2
pytest-django==2.9.1
sqlparse==0.2.0
waitress==0.9.0
WebOb==1.6.1
WebTest==2.0.23
