Django==1.5
Pillow==2.0.0
bleach==1.2.1
django-classy-tags==0.4
dj-database-url==0.2.1
django-floppyforms==1.1
django-password-reset==0.4
django-push==0.4
django-ratelimit-backend==0.5
django-redis-cache==0.9.7
django-rq-dashboard==0.2
django-sekizai==0.7
djangorestframework==2.2.4
feedparser==5.1.3
html5lib==0.95
httplib2==0.8
lxml==3.1.0
oauth2==1.5.211
opml==0.5
procname==0.3
psycopg2==2.4.6
python-dateutil==2.1
python-magic==0.4.3
pytz==2013b
raven==3.1.17
redis==2.7.2
requests==1.1.0
rq==0.3.7
six==1.2.0
times==0.6.1
