Django==1.4.2
Logbook==0.3
Pillow==1.7.7
bleach==1.1.5
django-classy-tags==0.3.4.1
django-floppyforms==1.0
django-password-reset==0.2
django-push==0.4
django-ratelimit-backend==0.2
django-redis-cache==0.9.5
django-rq-dashboard==0.2
django-sekizai==0.6.1
feedparser==5.1.2
html5lib==0.95
httplib2==0.7.5
lxml==2.3.3
oauth2==1.5.211
opml==0.5
procname==0.3
psycopg2==2.4.5
python-dateutil==2.1
python-magic==0.4.2
pytz==2012d
raven==2.0.5
redis==2.6.2
requests==0.14.0
rq==0.3.1
simplejson==2.6.1
six==1.2.0
times==0.5
