-r requirements.txt
WebOb==1.2.3
WebTest==2.0.6
beautifulsoup4==4.2.0
django-debug-toolbar==0.9.4
django-discover-runner==0.4
django-webtest==1.7
factory-boy==2.0.2
flake8==2.0
mccabe==0.2.1
mock==1.0.1
pep8==1.4.5
pep8-naming==0.2.1
pyflakes==0.7.2
transifex-client==0.9
waitress==0.8.5
