#header {
	@include grid(12);

	h1, #navigation {
		@include cols(6);
	}
}

#footer, #content, #categories, #options {
	@include grid(12);
}

h2 {
	clear: both;
}

.figures {
	@include clearfix;
	width: 100%;
	margin: 0;
	padding: 5px 0;

	&.bottom {
		padding-left: column-width(8) + $em;
	}

	.count, .back {
		@include cols(8);
	}
	.pagination {
		@include cols(4);
	}
}

.content {
	@include cols(8);
	margin: 0 auto;
}

form {
	margin: 0 column-width(2) + $gutter;
	margin-top: 3em;

	&.no {
		margin: 0;
	}

	.field {
		@include cols(8);
	}

	.title {
		@include cols(3);
	}

	.input {
		@include cols(5);
	}

	.submit {
		@include cols(5);
		margin-left: column-width(3) + $gutter * 1.5;
	}
}

.entry {
	@include clearfix;

	.title {
		@include cols(10);
	}

	.cat {
		display: inline;
	}

	.date {
		@include cols(2);
	}
}

#entry {
	@include grid(8);
	overflow: visible;

	.date {
		@include cols(4);
		margin-left: 0;
	}

	.actions {
		@include cols(4);
		margin-right: 0;
		margin-left: 0.75em;
	}
}
