{% extends "base.html" %}

{% block title %}{% trans "Sign in" %}{% endblock %}

{% block content %}
	{% if request.GET.from == "bookmarklet" %}
		<p>{% trans "You are not logged in. Please log in before using the bookmarklet." %}</p>
	{% endif %}
	<form method="post" action="{% url "login" %}" id="login">
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />{% endif %}
		{% include "form.html" %}
		<div class="submit">
			<input type="submit" value="{% trans "Sign in" %}">
			<a href="{% url "password_reset_recover" %}">{% trans "Forgot your password?" %}</a>
		</div>
	</form>

	<script type="text/javascript">
		document.getElementById('id_username').focus()
	</script>
{% endblock %}
