{% load staticfiles %}<!DOCTYPE html>
<html xml:lang="en" lang="en">
	<head>
		<title>{% block title %}{% trans "Home" %}{% endblock %} &mdash; FeedHQ</title>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="{% static "feeds/img/icon-rss.png" %}">
		<link rel="stylesheet" type="text/css" href="{% static "feeds/css/screen.css" %}">
		{% block extrahead %}{% endblock %}
	</head>
	<body id="{% block bodyid %}default{% endblock %}">
		<div id="root">
			<div id="header">
				<div>
					<h1>
						<a href="{% url "feeds:home" %}">FeedHQ</a>
						{% if user.is_authenticated %}
							<a href="{% url "feeds:dashboard" %}" class="add dashboard" title="{% trans "Dashboard" %}">&nbsp;</a>
							<a href="{% url "feeds:add_category" %}" class="add category" title="{% trans "Add a category" %}">&nbsp;</a>
							<a href="{% url "feeds:add_feed" %}" class="add feed" title="{% trans "Add a feed" %}">&nbsp;</a>
							<a href="{% url "feeds:import_feeds" %}" class="add import" title="{% trans "Import feeds" %}">&nbsp;</a>
						{% endif %}
					</h1>
					<div id="navigation">
						<ul>{% spaceless %}
							{% if not user.is_authenticated %}
								<li><a href="{% url "login" %}">{% trans "Sign in" %}</a></li>
							{% else %}
								<li>{% trans "yo" %}, <strong><a href="{% url "profile" %}">{{ user.username }}</a></strong></li>
								<li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
							{% endif %}
						</ul>{% endspaceless %}
					</div>
				</div>
			</div>
			<div id="content">
				{% if messages %}
					<div id="messages">
						{% for m in messages %}
							<p class="{{ m.tags }}">{{ m|safe }}</p>
						{% endfor %}
					</div>
				{% endif %}
				<h2 class="title">{% block pagetitle %}{% endblock %}</h2>
				{% block actions %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
			<div id="root_footer"></div>
		</div>
		<div id="footer">
			<div>
				<a href="https://github.com/brutasse/feedhq">FeedHQ</a> - {% blocktrans %}a <a href="http://djangoproject.com">Django</a> joint{% endblocktrans %} - &copy; 2009-{% now "Y" %} Bruno Renié
			</div>
		</div>
		{% block extrabody %}{% endblock %}
	</body>
</html>
