{% load staticfiles sekizai_tags %}<!DOCTYPE html>
<html xml:lang="en" lang="en">
	<head>
		<title>{% block title %}{% trans "Home" %}{% endblock %} &mdash; FeedHQ</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="shortcut icon" href="{% static "feeds/img/icon-rss.png" %}">
		<link rel="stylesheet" type="text/css" href="{% static "feeds/css/screen.css" %}">
		{% render_block "css" %}
	</head>
	<body id="{% block bodyid %}default{% endblock %}">
		<div id="root">
			<div id="header">
				<div>
					<h1>
						<a href="{% url "feeds:home" %}">FeedHQ</a>
						{% if user.is_authenticated %}
							<a class="unread" title="{% trans "Unread entries" %}" href="{% url "feeds:unread" %}">{{ user.entries.unread }}</a>
							<div id="add-menu">
								<ul>
									<li><a href="{% url "feeds:dashboard" %}" class="add dashboard" title="{% trans "Dashboard" %}">{% trans "Dashboard" %}</a></li>
									<li><a href="{% url "feeds:add_category" %}" class="add category" title="{% trans "Add a category" %}">{% trans "Add category" %}</a></li>
									<li><a href="{% url "feeds:add_feed" %}" class="add feed" title="{% trans "Add a feed" %}">{% trans "Add feed" %}</a></li>
									<li><a href="{% url "feeds:import_feeds" %}" class="add import" title="{% trans "Import feeds" %}">{% trans "Import" %}</a></li>
								</ul>
							</div>
						{% endif %}
					</h1>
					<div id="navigation">
						<ul>{% spaceless %}
							{% if not user.is_authenticated %}
								<li><a href="{% url "login" %}">{% trans "Sign in" %}</a></li>
							{% else %}
								<li>{% trans "yo" %}, <strong><a href="{% url "profile" %}">{{ user.username }}</a></strong></li>
								<li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
							{% endif %}
						</ul>{% endspaceless %}
					</div>
				</div>
			</div>
			<div id="content">
				{% if messages %}
					<div id="messages">
						{% for m in messages %}
							<p class="{{ m.tags }}">{{ m|safe }}</p>
						{% endfor %}
					</div>
				{% endif %}
				{% block actions %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
			<div id="root_footer"></div>
		</div>
		<div id="footer">
			<div>{% include "footer.html" %}</div>
		</div>
{% render_block "js" %}

{% addtoblock "js" %}
<script src="{% static "feeds/js/jquery.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "feeds/js/bootstrap-tooltip.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "feeds/js/bootstrap-popover.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {
		$('#add-menu, #navigation').popover({
			trigger: "manual",
			content: function() {
				return $(this).find('ul').html();
			},
			placement: "bottom",
		});

		$('#add-menu, #navigation').click(function() {
			var mobile = $(this).find('li').css('display') == 'none' || $(this).attr('class') == 'active';
			if (!mobile) {
				return;
			}

			var id = $(this).attr('id'), hide;
			if (id == 'navigation') {
				hide = 'add-menu';
			} else {
				hide = 'navigation';
			}
			$('#' + hide).popover('hide');
			$('#' + hide).removeClass('active');
			$(this).popover('toggle');
			$(this).toggleClass('active');
			var pop = $('.popover');
			if (pop) {
				var header = $('#header');
				var top = pop.position().top;
				pop.removeAttr('style');

				pop.css('display', 'block');
				pop.css("width", header.width() / 2 + 'px');

				var right = (window.innerWidth - header.width()) / 2;
				pop.css("right", right + 'px');
				pop.css("top", top + 'px');
			}
		});
	});
</script>
{% endaddtoblock %}
	</body>
</html>
