{% load staticfiles sekizai_tags %}<!DOCTYPE html>
<html xml:lang="en" lang="en">
	<head>
		<title>{% block title %}{% trans "Home" %}{% endblock %} &mdash; FeedHQ</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="shortcut icon" href="{% static "core/img/icon-rss.png" %}">
		<link rel="stylesheet" type="text/css" href="{% static "core/css/screen.css" %}">
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-57.png" %}">
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-72.png" %}" sizes="72x72">
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-114.png" %}" sizes="114x114">
		<link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-144.png" %}" sizes="144x144">
		{% render_block "css" %}
	</head>
	<body id="{% block bodyid %}default{% endblock %}">
		<div id="root">
			<div id="header">
				<div>
					<h1>{% if user.is_authenticated and only_unread %}{% url "feeds:unread" as home_url %}
						{% else %}{% url "feeds:home" as home_url %}{% endif %}
						<a href="{{ home_url }}">FeedHQ</a>
						{% if user.is_authenticated %}
							<a class="unread" title="{% trans "Unread entries" %}" href="{% url "feeds:unread" %}">{{ user.entries.unread }}</a>
						{% endif %}
					</h1>
					<div id="navigation">
						<ul>{% spaceless %}
							{% include "navigation.html" %}
						</ul>{% endspaceless %}
					</div>
				</div>
			</div>
			<div id="content">
				{% if messages %}
					<div id="messages">
						{% for m in messages %}
							<p class="{{ m.tags }}">{{ m|safe }}</p>
						{% endfor %}
					</div>
				{% endif %}
				{% block actions %}{% endblock %}
				{% block content %}{% endblock %}
			</div>
			<div id="root_footer"></div>
		</div>
		<div id="footer">
			<div>{% include "footer.html" %}</div>
		</div>
{% render_block "js" %}

{% addtoblock "js" %}
<script type="text/javascript">
	window.addEventListener("load", function() {
		setTimeout(function() {
			if (window.pageYOffset === 0) {
				window.scrollTo(0, 1);
			}
		}, 0);
	});
</script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/fastclick.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	window.addEventListener('load', function() {
		new FastClick(document.body);
	}, false);
</script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/jquery.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript" src="{% static "core/js/bootstrap-tooltip.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script type="text/javascript">
	$(function() {
		window.touchDevice = 'ontouchstart' in document.documentElement;

		if (!touchDevice) {
			$('.tultip').tooltip();
		}

		$('#navigation .profile').click(function() {
			return false;
		});

		$('form.read').submit(function(e) {
			if (!confirm("{% blocktrans %}Are you sure you want to mark {{ unread_count }} items as read?{% endblocktrans %}")) {
				return false;
			}
		});
	});
</script>
{% endaddtoblock %}
	</body>
</html>
