{% csrf_token %}
{% if form.errors and not form.non_field_errors %}
	<p class="errorlist">{% trans "Please correct the errors below and submit the form again." %}</p>
{% endif %}
{{ form.non_field_errors }}
{% for field in form %}
	{% if not field.is_hidden %}
		<div class="field{% if forloop.first %} first{% endif %}{% if forloop.last %} last{% endif %}">
			<div class="title">
				<h6>{{ field.label_tag }}</h6>
			</div>
			<div class="input">
				<p>{{ field }}</p>
				{{ field.errors }}
				{% if field.help_text %}<p class="helptext">{{ field.help_text|safe }}</p>{% endif %}
			</div>
		</div>
	{% else %}
		{{ field }}
	{% endif %}
{% endfor %}
