@media (max-width: $screen-tablet) {
	::-webkit-scrollbar {
		width: 9px;
		height: 9px;
	}

	::-webkit-scrollbar-track {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.05);
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.1);
	}
}

@include sticky-footer(70px);

#header {
	.container {
		@include container;
	}

	h1 {
		@include cols(6);
	}

	#navigation {
		@include cols(6);
	}
}

#footer {
	.container {
		@include container;
	}
}

#content, #categories, #options {
	@include container;
}

#header {
	position: relative;
}

.figures {
	@include make-row;
	padding-top: 5px;

	&.bottom {
		margin-bottom: 5px;
	}

	.count {
		@include cols(12);

		input {
			font-size: 0.8rem;
		}
	}
}

.pagination {
	@include cols(12);
	font-size: 0.9em;

	margin-top: 2px;

	a {
		padding-top: 4px;
		padding-bottom: 4px;
	}
}

.feedhq-previous, .feedhq-next {
	font-size: 1rem;
}

form {
	margin: 0;
	margin-top: 1em;

	.title, .input, .submit {
		@include cols(12);
	}

	.input input {
		&[type="text"], &[type="password"] {
			width: 94%;
		}
		&[type="checkbox"] {
			width: auto;
		}
	}
}

.entry {
	.date {
		font-size: 0.8em;
		text-align: right;
		@include border-bottom($border-color);
	}
}

.help, #entry {
	.actions, .content {
		input {
			font-size: 20px;
		}
	}

	> h2 {
		margin-top: 0.25em;
		font-size: 1.3em;
		font-weight: bold;
	}

	.date, .actions {
		@include cols(12);
	}

	.date {
		margin-bottom: 0;
	}

	.actions {
		margin-bottom: 5px;
	}
}

.overflow {
	//-webkit-overflow-scrolling: touch;
	overflow: scroll;
}

.content {
	pre, img {
		overflow: auto;
		//-webkit-overflow-scrolling: touch;
	}

	ul, ol {
		margin-left: 1.5em !important;
	}
}

#content {
	@include profile-mobile-menu;
}

.modal {
	width: 100%;
	margin-left: 50%;
}

.col {
	@include cols(12);
}
