@media only screen and (max-width: 767px) {
	::-webkit-scrollbar {
		width: 9px;
		height: 9px;
	}

	::-webkit-scrollbar-track {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.05);
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background: rgba(0, 0, 0, 0.1);
	}

	#header {
		@include grid(4);
		padding: 0;
		position: relative;

		h1 {
			float: left;
			width: 50%;
			margin: 0;
		}

		#navigation {
			float: right;
			width: 50%;
			margin: 0;
		}
	}

	#footer, #content, #categories, #options {
		@include grid(4);
		padding: 0;
	}

	.pagination {
		font-size: 0.9em;
		a {
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}

	.figures {
		.count {
			width: 100%;
			margin: 0;
			white-space: inherit;
			float: none;

			input {
				font-size: 0.8rem;
			}
		}
	}

	form {
		margin: 0;
		margin-top: 1em;

		.field, .title, .input, .submit {
			width: 100%;
			margin: 0;
			text-align: left;
		}

		.input input {
			&[type="text"], &[type="password"] {
				width: 94%;
			}
			&[type="checkbox"] {
				width: auto;
			}
		}
	}

	.entry {
		.title {
			width: column-width(4) - 20;
			white-space: inherit;
		}

		.date {
			margin: 0;
			width: 100%;
			font-size: 0.8em;
			text-align: right;
			border-bottom: 1px solid lighten($text, 75%);
		}
	}

	.help,
	#entry {
		width: 100%;
		padding: 0;

		.actions, .content {
			width: 100%;
			margin: 0;

			input {
				font-size: 20px;
				padding: 0 3px;
			}
		}

		> h2 {
			margin-top: 0.25em;
			font-size: 1.3em;
			font-weight: bold;
		}

		.date {
			width: 100%;
		}
	}

	.overflow {
		-webkit-overflow-scrolling: touch;
		overflow: scroll;
	}

	.content {
		pre, img {
			overflow: auto;
			-webkit-overflow-scrolling: touch;
		}

		ul, ol {
			margin-left: 1.5em !important;
		}
	}
}
