@media (min-width: $screen-tablet) {
	#header {
		h1 {
			@include cols(8);
		}

		#navigation {
			@include cols(4);
		}
	}

	.figures {
		.count {
			white-space: inherit;
		}
	}

	.pagination {
		font-size: 1em;
	}

	#entries {
		margin-top: 0.5em;
		margin-bottom: 0.5em;
	}

	#entry {
		width: 620px;
		margin-left: auto;
		margin-right: auto;

		.date {
			@include cols(7);
		}

		.actions {
			@include cols(5);
		}
	}

	form {
		margin-top: 1em;

		.title {
			@include cols(4);
			text-align: right;
		}
		.input {
			@include cols(8);
		}

		.submit {
			@include push(4);
			@include cols(8);
		}
	}

	.col {
		@include cols(6);
		margin-left: 0;
	}

	.entry {
		@include make-row;

		.title {
			@include cols(9.5);
			padding-left: 35px;
			background-position: 15px 6px;
			white-space: nowrap;
		}

		.date {
			@include cols(2.5);
			font-size: $em * 1px;
			border: none;
		}
	}

	.modal {
		width: 560px;
		margin-left: -280px;
	}
}
