@include sticky-footer(46px);
#root {
	margin-bottom: -54px;
}

@mixin content-clearfix {
	&:after {
		visibility: hidden;
		content: " ";
		clear: both;
		display: block;
		height: 0;
		font-size: 0;
	}
}

@mixin profile-mobile-menu {
	> .profile-menu, > .profile {
		width: 100%;
		margin: 0;
	}

	> .profile-menu {
		ul {
			border-right: none;
			border-bottom: 1px solid $border-color;
		}

		li, a {
			display: inline-block;
		}

		a {
			margin-top: 1px;
			padding: 1px 7px;
			font-size: 1rem;
		}
	}
}

$red: #ff0000;
$dark_red: #cc0000;
$pale_green: #64992c;
$green: #006633;
$army_green: #636330;
$pale_blue: #6694e3;
$blue: #206cff;
$dark_blue: #0000cc;
$orange: #ec7000;
$dark_orange: #b36d00;
$black: #101010;
$gray: #505050;

$text: #222;
$light-text: lighten($text, 30%);
$border-color: lighten($text, 70%);
$light-background-color: lighten($text, 80%);

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

sup {
	vertical-align: top;
	position: relative;
	top: -0.3em;
	font-size: 0.8em;
}

ol {
	list-style-type: decimal;
}

.cat, .edit, .color {
	color: white !important;
	font-weight: normal !important;
	padding: 2px 4px;
	font-size: $em - 4px;
	white-space: nowrap;
	border-radius: 5px;
	text-decoration: inherit;

	&.red {
		background: $red;
	}

	&.dark-red {
		background: $dark_red;
	}

	&.pale-green {
		background: $pale_green;
	}

	&.green {
		background: $green;
	}

	&.army-green {
		background: $army_green;
	}

	&.pale-blue {
		background: $pale_blue;
	}

	&.blue {
		background: $blue;
	}

	&.dark-blue {
		background: $dark_blue;
	}

	&.orange {
		background: $orange;
	}

	&.dark-orange {
		background: $dark_orange;
	}

	&.black {
		background: $black;
	}

	&.gray {
		background: $gray;
	}

	&.left {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-right: 1px solid white;
	}
	&.right {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

body {
	font: 20px/1.3em Palatino, Georgia, serif;
	-webkit-text-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $text;
}

a {
	color: #000;

	&.bookmarklet {
		cursor: move;
	}
}

input, select {
	font-size: 1rem;
}

#header > div {
	@include content-clearfix;
	padding: 0.5em 0 0 0;
	border-bottom: 1px solid #444;
	min-height: 35px;

	h1 {
		font-weight: bold;

		a {
			color: inherit;
			text-decoration: none;

			&.unread {
				padding: 0px 7px;
				background: $light-background-color;
				color: lighten($text, 25%);
				display: inline-block;
				height: 24px;
				border-radius: 3px;
				font-size: 16px;

				&:hover {
					background: $text;
					color: white;
				}
			}

			&.add {
				font-size: 0.6em;
				font-weight: normal;
				padding-left: 2px;
				margin-right: 5px;
				color: lighten($text, 20%);

				&:hover {
					color: lighten($text, 10%);
				}
			}
		}
	}
}

#navigation {
	text-align: right;

	> ul {
		position: relative;
		@include content-clearfix;

		> li {
			display: inline-block;
			margin-bottom: -5px;
			padding-bottom: 5px;
			max-width: 100%;

			strong {
				display: inline-block;
				max-width: 100%;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			> ul {
				z-index: 100;
				display: none;
				position: absolute;
				top: 100%;
				right: 0;
				background: white;
				margin-top: 5px;
				border: 2px solid $border-color;
				font-size: 1rem;
				padding: 5px 0;
				border-radius: 5px;

				&:before {
					border: solid;
					border-width: 0 6px 6px 6px;
					border-color: $border-color transparent;
					top: -6px;
					content: "";
					display: block;
					left: 60%;
					position: absolute;
					z-index: 99;
				}

				li {
					position: relative;

					&.sep {
						margin-bottom: 5px;
						padding-bottom: 5px;
						border-bottom: 1px solid $light-background-color;
					}

					a, input {
						display: block;
						text-decoration: none;
						padding: 0 5px;
						&:hover {
							background: $light-background-color;
						}
					}
				}
			}

			&:hover > ul {
				display: inline-table;
			}
		}
	}

	form {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	input {
		margin: 0;
		padding: 0;
		border: none;
		background: inherit;
		font: inherit;
		display: block;
		width: 100%;
		text-align: right;
		cursor: pointer;
	}
}

.navlist {
	display: inline;

	input {
		border: none;
		background: none;
		color: inherit;
		cursor: pointer;
		display: inline-block;
		height: 26px;
		padding: 0 16px;
		margin: 0 !important;
		-webkit-appearance: none;
		border-radius: 0;
	}

	a {
		padding: 0 8px;
		color: $light-text;
	}

	button {
		padding: 0 12px;
		margin: 0;
	}

	a, input[type=submit], button {
		border: none;
		background: inherit;
		cursor: pointer;
		display: inline-block;
		min-height: 26px;
		text-decoration: none;
		font-size: 16px;
		border-right: 1px solid white;
		vertical-align: bottom;

		&.current, .ct {
			color: $text;
		}

		.ct {
			font-weight: bold;
		}

		&:hover, &.current {
			background: $light-background-color;
		}
	}

	&.actions {
		form {
			padding: 0;
		}

		a {
			padding: 0 12px;
		}

		a, form {
			display: block;
			float: right;
			text-align: center;
			color: $text;
		}

		.sbutton {
			float: right;
		}

		input, button {
			display: inline-block;
			padding: 0 12px;

			&:last-child {
				border-right: none;
			}
		}
	}

	form {
		color: $text;
		height: 26px;
	}
}

.profile-menu {
	h1 {
		font-size: 1.1em !important;
	}

	ul {
		border-right: 1px solid $border-color;
	}

	li {

		&:last-child {
			border: none;
		}
	}

	a {
		display: block;
		text-decoration: none;
		padding: 5px;
		color: $light-text;

		&.current {
			color: $text;
		}

		&.current, &:hover {
			background: $light-background-color;
		}
	}
}

.profile {
	ul {
		list-style: disc;
		padding-left: 30px;

		li {
			padding: 5px 0;
		}
	}

	p {
		margin: 1rem 0;
	}
}

.subscribe {
	ul {
		margin: 1rem 0;
	}

	li {
		padding: 5px 0;
	}
}

.popover {
	position: absolute;
	background: white;

	&.bottom {
		margin-top: 5px;
		left: auto;
	}
}

.popover-inner {
	padding: 3px;
	background: $text;
	border-radius: 6px;
}

.popover-content {
	background: white;
	border-radius: 3px;
	padding: 5px;
	li {
		list-style: none;
	}

	.icon {
		font-size: 16px;
		padding-right: 2px;
	}
}

.tooltip {
	position: absolute;
	z-index: 1020;
	display: block;
	padding: 5px;
	font-size: 14px;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;

	&.in {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}

	&.top {
		margin-top: -2px;

		.tooltip-arrow {
			bottom: 0;
			left: 50%;
			margin-left: -5px;
			border-top: 5px solid #000000;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}

	&.right {
		margin-right: -2px;

		.tooltip-arrow {
			top: 50%;
			left: 0;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-right: 5px solid #000000;
			border-bottom: 5px solid transparent;
		}
	}

	&.left {
		margin-left: -2px;

		.tooltip-arrow {
			top: 50%;
			right: 0;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid #000000;
		}
	}

	&.bottom {
		margin-bottom: -2px;

		.tooltip-arrow {
			top: 0;
			left: 50%;
			margin-left: -5px;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #000000;
			border-left: 5px solid transparent;
		}
	}
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
}

#content {
	h1 {
		font-size: 1.4em;
	}
	h2 {
		font-size: 1.3em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		text-transform: uppercase;
	}

	h6 {
		font-weight: bold;
	}

	h1, h2, h3, h4, h5, h6 {
		line-height: 2rem;
		margin: 0.75em 0 0.25em 0;
	}

	.overflow {
		overflow: auto;
	}
}

.subscribe_form {
	margin-bottom: 1em;
	@include clearfix;
}

.no label {
	font-weight: bold;
}

#footer > div {
	border-top: 1px solid #444;
	padding: 0.5em 0;
	margin-top: 0.5em;
	color: lighten($text, 20%);
	font-size: 0.8em;
}

form {
	.field {
		padding: 5px 0;

		p, ul, li {
			margin: 0;
		}
	}
	.title {
		text-align: right;
		h6 {
			margin: 0 !important;
		}
	}

	.input {
		input, select {
			width: 90%;

			&[type="checkbox"] {
				width: inherit;
			}
		}
	}
}

.helptext {
	font-size: 0.8em;
	color: $light-text;
}

.errorlist {
	color: lighten(red, 10%);
	a {
		&:not(.dismiss) {
			color: inherit;
		}
		&.dismiss {
			text-decoration: none;
		}
	}
}

.input .errorlist {
	font-size: 0.9em;
}

.back a {
	text-decoration: none;
}

.colors {
	.color {
		display: inline-block;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		padding: 3px;
		margin: 4px 7px 4px 4px;
		cursor: pointer;

		&:hover, &.selected {
			padding: 7px;
			margin: 0 3px 0 0;
		}

		&.selected {
		}
	}
}

.pagination {
	text-align: right;
	white-space: nowrap;

	a, span {
		padding: 0 4px;
		margin: 0 2px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		background: $light-background-color;
		border-radius: 3px;
		text-decoration: none;

		&:hover {
			background: $text;
			color: white;
		}
	}
}

#messages {
	form {
		margin: 0;
		display: inline-block;
	}
	input {
		font: inherit;
		border: none;
		background: none;
		text-decoration: underline;
		cursor: pointer;
		padding: 0;
		color: inherit;
	}

	> div {
		font-size: 0.9em;
		margin: 3px 0;
		padding: 1px 0;
		color: #3a87ad;
	}
}

#entries {
	margin: 0.5em 0;

	.empty {
		padding: 7em 1em 8em 1em;
		background: darken(white, 5%);
		border-radius: 5px;
	}
}

.entry {
	padding: 5px 0;
	a {
		text-decoration: none;
		color: lighten(black, 20%);
	}

	&.new a {
		color: black;
		font-weight: bold;
	}

	.title {
		padding-left: 20px;
		background-repeat: no-repeat;
		background-position: left 6px;
		background-size: 16px;

		span {
			display: inline;
			margin-left: 24px;
		}
	}

	.date {
		text-align: right;
	}

}

.legend, .legend a {
	padding: 0 !important;
	color: lighten($text, 20%);
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.edit, .edit_cat {
	opacity: 0.5;
}

.edit {
	border-radius: 5px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

h2 .cat {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: 1px;
}

.edit {
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}

.count {
	overflow: hidden;
	a.cat {
		float: left;
		padding: 0 2px;
		height: 26px;
	}
	.edit {
		display: inline;
		border-radius: 0;
		border-right: 1px solid white;

		&.cat {
			opacity: 1 !important;
			margin-right: 5px;
		}
	}

	white-space: nowrap;

	form {
		display: inline-block;
		margin: 0;
	}
}

code, tt {
	border: 1px solid lighten($text, 75%);
	border-radius: 3px;
	padding: 2px 3px;
}

pre, code, tt {
	font: 1rem Inconsolata, Monaco, monospace;
	overflow: auto;
	word-wrap: normal;
}

pre code {
	border: none;
	font-size: 1em;
}

#entry > h2:hover {
	.edit, .edit_cat {
		opacity: 1;
		width: 20px;
	}

}

#entry, .help {
	> h2 {
		font-size: 1.5em;
		line-height: 1.2em;
		padding: 0.25em 0;
		border-bottom: 1px solid #ddd;
	}

	.externalmedia {
		clear: both;
		color: lighten($text, 20%);
		border: 1px solid #ddd;
		padding: 5px;
		font-size: 0.9rem;
		margin-bottom: 5px;

		input {
			font-size: inherit;
			font-family: inherit;
		}

		form {
			margin: 0;
			padding: 0;
		}
	}

	.content {
		line-height: 1.5em;
		word-wrap: break-word;

		strong, b {
			font-weight: bold;
		}

		em, i {
			font-style: italic;
		}

		h2 {
			border: none;
		}

		p {
			padding: 0.5em 0;
		}

		ul {
			list-style: disc;
			margin: 0.5em 0;

			ul {
				list-style: circle;
				margin-left: 1em;
			}
		}

		blockquote {
			border-left: 5px solid lighten($text, 75%);
			padding-left: 10px;
			color: lighten($text, 20%);

			ul, ol {
				margin-left: 1em;
			}
		}

		.feedhq-image {
			position: relative;
			overflow: auto;

			.imgmenu {
				display: none;
				position: absolute;
				top: 5px;
				left: 5px;

				a {
					display: inline-block;
					height: 30px;
					background: rgba(0, 0, 0, 0.5);
					padding: 0 5px;
					cursor: pointer;
					font-size: 1.5rem;
					color: $border-color;
					border-right: 1px solid rgba(255, 255, 255, 0.2);
					text-decoration: none;

					span {
						font-size: 1.2rem;
					}

					&:hover, &.selected {
						color: lighten($text, 100%);
					}

					&:first-child {
						border-radius: 3px 0 0 3px;
					}

					&:last-child {
						border-radius: 0 3px 3px 0;
						border: none;
					}
				}
			}
		}
	}

	.date {
		color: #777;

		a {
			background-repeat: no-repeat;
			background-size: 16px 16px;
			background-position: left center;
		}
	}

	.actions {
		text-align: right;

		form {
			margin: 0;
			display: inline-block;
		}

		input {
			font-size: 24px;
		}
	}

	.date, .actions {
		margin-bottom: 1em;
		font-size: 0.8em;
	}
}

.col {
	.new {
		font-weight: bold;
	}

	li {
		padding: 3px 0;
		background-repeat: no-repeat;
		background-position: left 6px;
		background-size: 16px;
		a:first-child {
			padding-left: 20px;
		}
	}

	a {
		text-decoration: inherit;

		&.unread {
			padding: 0 5px;
			border-radius: 3px;
			background: darken(white, 10%);

			&:hover {
				background: darken(white, 20%);
			}
		}
	}
}
