.tooltip {
	position: absolute;
	z-index: 1020;
	display: block;
	padding: 5px;
	font-size: 14px;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: visible;

	&.in {
		opacity: 0.8;
		filter: alpha(opacity=80);
	}

	&.top {
		margin-top: -2px;

		.tooltip-arrow {
			bottom: 0;
			left: 50%;
			margin-left: -5px;
			border-top: 5px solid #000000;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
		}
	}

	&.right {
		margin-right: -2px;

		.tooltip-arrow {
			top: 50%;
			left: 0;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-right: 5px solid #000000;
			border-bottom: 5px solid transparent;
		}
	}

	&.left {
		margin-left: -2px;

		.tooltip-arrow {
			top: 50%;
			right: 0;
			margin-top: -5px;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 5px solid #000000;
		}
	}

	&.bottom {
		margin-bottom: -2px;

		.tooltip-arrow {
			top: 0;
			left: 50%;
			margin-left: -5px;
			border-right: 5px solid transparent;
			border-bottom: 5px solid #000000;
			border-left: 5px solid transparent;
		}
	}
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000000;
	border-radius: 4px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
}
