{% extends "profiles/read_later.html" %}

{% block title %}{% trans "Instapaper settings" %}{% endblock %}

{% block profile_content %}
	<h1>{% trans "Instapaper settings" %}</h1>

	<p>{% trans "Please enter your Instapaper credentials. Note that Instapaper uses xAuth so we won't store your raw credentials but exchange them for a token that you can revoke at any time." %}</p>

	<form method="post" action="{% url "services" "instapaper" %}" id="instapaper">
		{% include "form.html" %}
		<div class="row">
			<div class="submit">
				<input type="submit" value="{% trans "Check credentials" %}">
				<a href="{% url "read_later" %}">{% trans "Cancel" %}</a>
			</div>
		</div>
	</form>
{% endblock %}
