{% extends "base.html" %}

{% block title %}{% trans "Disable read later settings" %}{% endblock %}

{% block content %}
	<h1>{% trans "Disable read later settings" %}</h1>
	<p>{% trans "You are about to disable your current read later service. This will remove your credentials from the FeedHQ server and you won't be able to add items to your reading list from FeedHQ anymore." %}</p>
	<p>{% trans "Are you sure you want to proceed?" %}</p>
	<form method="post" action="{% url "services" "none" %}" class="no">
		{% include "form.html" %}
		<input type="submit" value="{% trans "Yes" %}">
		<a href="{% url "profile" %}">{% trans "Cancel" %}</a>
	</form>
{% endblock %}
