{% extends "base.html" %}

{% block content %}
	<h2>{% trans "Dashboard" %}</h2>

	<div class="col first">
		{% for cat in categories %}
			<div class="category"><h3><a href="{% url "feeds:category" cat.slug %}">{{ cat }}</a> <a class="cat {{ cat.color }}" href="{% url "feeds:unread_category" cat.slug %}">{{ cat.unread_count }}</a></h3>
				<ul>{% for feed in cat.feeds.all %}
						<li{% if feed.favicon %} style="background-image: url('{{ feed.favicon.url }}');"{% endif %}{% if feed.unread_count %} class="new"{% endif %}><a href="{% url "feeds:feed" feed.pk %}">{{ feed }}</a>{% if feed.unread_count %} <a href="{% url "feeds:unread_feed" feed.pk %}" class="unread">{{ feed.unread_count }}{% endif %}</a></li>
				{% endfor %}</ul>
			</div>
			{% if forloop.counter in breaks %}</div><div class="col">{% endif %}
		{% endfor %}
	</div>
{% endblock %}
