{% extends "base.html" %}

{% block title %}{% blocktrans with name=feed.name %}Edit {{ name }}{% endblocktrans %}{% endblock %}

{% block content %}
	<h2>{% blocktrans with name=feed.name %}Edit {{ name }}{% endblocktrans %}</h2>
	<form method="post" action="{% url "feeds:edit_feed" feed.pk %}" id="feed">
		{% include "form.html" %}
		<div class="row">
			<div class="submit">
				<input type="submit" value="{% trans "Save changes" %}">
				<a class="delete" href="{% url "feeds:delete_feed" feed.pk %}">{% trans "Delete this feed" %}</a>
			</div>
		</div>
	</form>
{% endblock %}
