<li class="entry{% if not entry.read %} new{% endif%}">
	<div class="title ellipsis"{% if entry.feed.favicon %} style="background-image: url('{{ entry.feed.favicon.url }}');"{% endif %}>
		<a href="{% url "feeds:feed" entry.feed.pk %}" class="cat {{ entry.feed.category.color }}">{{ entry.feed }}</a>
		<a href="{% url "feeds:item" entry.id %}">{% if entry.title %}{{ entry.title|safe }}{% else %}(No title){% endif %}</a>
	</div>
	<div class="date">{{ entry.date|timezone:user.timezone|date }}</div>
</li>
