{% extends "feeds/feed_list.html" %}
{% load staticfiles sekizai_tags %}

{% block title %}{{ object.sanitized_title|safe }}{% endblock %}

{% block content %}
	{% include "feeds/entry_navigation.html" %}
	<div id="entry">
		<h2>{{ object.sanitized_title|safe }}
			<a href="{% if only_unread %}{% url "feeds:unread_feed" object.feed.pk %}{% else %}{% url "feeds:feed" object.feed.pk %}{% endif %}" class="cat {{ object.feed.category.color }}">{{ object.feed.name }}</a><a class="edit {{ object.feed.category.color }} cat" title="{% trans "Edit this feed" %}" href="{% url "feeds:edit_feed" object.feed.pk %}"><span class="icon pen"></span></a>
			<a href="{% if only_unread %}{% url "feeds:unread_category" object.feed.category.slug %}{% else %}{% url "feeds:category" object.feed.category.slug %}{% endif %}" class="cat edit_cat {{ object.feed.category.color }}">{{ object.feed.category.name }}</a><a class="edit {{ object.feed.category.color }} cat" title="{% trans "Edit this category" %}" href="{% url "feeds:edit_category" object.feed.category.slug %}"><span class="icon pen"></span></a>
		</h2>
		{% include "feeds/entry_links.html" %}
		<div class="actions navlist">
			{% if not object.read_later_url and user.read_later %}
				<form method="post" action="{% url "feeds:item" object.id %}">
					{% csrf_token %}
					<input type="hidden" name="action" value="read_later">
					<input class="tultip icon" type="submit" title="{% blocktrans with read_later=user.get_read_later_display %}Add to {{ read_later }}{% endblocktrans %}" value="&#xe069;">
				</form>
			{% endif %}
			<form method="post" action="{% url "feeds:item" object.id %}">
				{% csrf_token %}
				<input type="hidden" name="action" value="unread">
				<input class="tultip icon" type="submit" title="{% trans "Unread" %}" value="&#xe025;">
			</form>
			{% if user.sharing_email %}
				<a class="tultip icon" title="{% trans "Email" %}" href="mailto:?subject={{ object.title }}&body={{ object.get_link }}">&#x2709;</a>
			{% endif %}
			{% if user.sharing_twitter %}
				<div class="sbutton">
					<a href="https://twitter.com/share?url={{ object.get_link }}&via=FeedHQ&text={{ object.title }} &mdash; &dnt=true" class="twitter-share-button" data-lang="en">Tweet</a>
{% addtoblock "js" %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{% endaddtoblock %}
				</div>
			{% endif %}
			{% if user.sharing_gplus %}
				<div class="sbutton">
					<div class="g-plusone" data-size="medium"></div>
{% addtoblock "css" %}
<link rel="canonical" href="{{ object.get_link }}">
{% endaddtoblock %}
				</div>
{% addtoblock "js" %}
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
{% endaddtoblock %}
			{% endif %}
		</div>
		{% if has_media %}
			<div class="externalmedia">
				<form method="post" action="{% url "feeds:item" object.id %}" class="images">
					{% csrf_token %}
					<input type="hidden" name="action" value="images">
					{% if object.feed.media_safe %}
						{% trans "External media is always displayed for this feed." %}
						<input type="submit" value="{% trans "Disable external media" %}" name="never">
					{% else %}
						{% if media_safe %}
							{% trans "External media is only displayed this time." %}
							<input type="submit" value="{% trans "Always display external media for this feed" %}" name="always">
						{% else %}
							{% trans "External media is hidden by default to protect your privacy. Show media:" %}
							<input type="submit" value="{% trans "once" %}" name="once">
							<input type="submit" value="{% trans "always" %}" name="always">
						{% endif %}
					{% endif %}
				</form>
			</div>
		{% endif %}
		<div class="content">
			{% if media_safe or object.feed.media_safe %}
				{{ object.sanitized_content|safe }}
			{% else %}
				{{ object.sanitized_nomedia_content|safe }}
			{% endif %}
		</div>
		{% include "feeds/entry_links.html" %}
	</div>
	{% include "feeds/entry_navigation.html" %}

{% addtoblock "js" %}
<script src="{% static "core/js/jquery.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "core/js/highlight.min.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script src="{% static "core/js/feedhq.js" %}"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
<script>
	$(document).hl().images().keys();
</script>
{% endaddtoblock %}

{% endblock %}
