{% extends "base.html" %}

{% block title %}{% if unread_count %}({{ unread_count }}) {% endif %}
	{% if feed %}{{ feed.name }}{% else %}
		{% if category %}{{ category.name }}{% else %}
			{{ block.super }}
{% endif %}{% endif %}{% endblock %}

{% block content %}
	{% if noob %}
		<div class="help"><div class="content">
			<h2>{% trans "Getting started" %}</h2>
			<p>{% trans "Hi! Looks like you're new here. Here are a couple of things you can do to get started with FeedHQ:" %}</p>
			<ul>
				<li>{% trans "Create a category:" %} <a href="{% url "feeds:add_category" %}">{% trans "BAM" %}</a></li>
				<li>{% trans "Add a feed:" %} <a href="{% url "feeds:add_feed" %}">{% trans "BAM" %}</a></li>
				<li>{% trans "Got an OPML dump? Import it!" %} <a href="{% url "feeds:import_feeds" %}">{% trans "BAM" %}</a></li>
			</ul>
			<p>{% trans "Now look closely. These three vital features can be accessed using the three buttons on the top bar. Got it? Good. This page will self-destruct as soon as you add your first feed." %}</p>
		</div></div>
	{% else %}
		<div class="figures">
			<div class="count">
				{% if only_unread %}
					{% blocktrans with start=entries.start_index end=entries.end_index count counter=entries.paginator.count %}{{ start }} - {{ end }} of {{ count }} unread entry.{% plural %}{{ start }} - {{ end }} of {{ count }} unread entries.{% endblocktrans %}
				{% else %}
					{% blocktrans with start=entries.start_index end=entries.end_index count counter=entries.paginator.count %}{{ start }} - {{ end }} of {{ count }} entry{% plural %}{{ start }} - {{ end }} of {{ count }} entries{% endblocktrans %}{% if unread_count %}{% blocktrans count counter=unread_count %} ({{ unread_count }} unread){% plural %} ({{ unread_count }} unread){% endblocktrans %}{% endif %}.
				{% endif %}
				{% if only_unread %}
					<a href="{{ all_url }}">{% trans "Show all" %}</a>
				{% else %}
					<a href="{{ unread_url }}">{% trans "Show only unread" %}</a>
				{% endif %}
			</div>
			<div class="pagination">{% include "feeds/paginator.html" %}</div>
		</div>

		<ul id="entries">
			{% for entry in entries.object_list %}
				{% include "feeds/entry_include.html" %}
			{% empty %}
				<li class="empty" >{% trans "Hooray, nothing to read!" %}</li>
			{% endfor %}
		</ul>

		<div class="figures bottom">
			<div class="pagination">{% include "feeds/paginator.html" %}</div>
		</div>
	{% endif %}
{% endblock %}
