{% extends "base.html" %}

{% block title %}{% trans "Import data" %}{% endblock %}

{% block content %}
	<h2>{% trans "Import data from an OPML file" %}</h2>
	<p>{% url "export" as export_url %}{% blocktrans %}An OPML file is the standard way to export and import subscriptions from feed readers. If you are already using a feed reader, chances are it offers OPML export. <a href="{{ export_url }}">FeedHQ does</a>.{% endblocktrans %}</p>

	<form enctype="multipart/form-data" method="post" action="{% url "feeds:import_feeds" %}" id="import">
		{% include "form.html" %}
		<div class="row">
			<div class="submit">
				<input type="submit" value="{% trans "Import" %}">
				<a href="{% url "feeds:home" %}">{% trans "Cancel" %}</a>
			</div>
		</div>
	</form>
{% endblock %}
