<div class="modal-header">
	<a data-dismiss="modal" class="close icon-remove-circle"></a>
	<h3>{% trans "Keyboard shortcuts" %}</h3>
</div>
<div class="modal-body">
	<h4>{% trans "Site-wide shortcuts" %}</h4>

	<code>?</code> {% trans "Show this help" %}<br>
	<code>{% trans "ESC" %}</code> {% trans "Hide this help" %}<br>
	<code>A</code> {% trans "Add a subscription" %}<br>
	<code>R</code> {% trans "Refresh the current view" %}<br>

	<h4>{% trans "Navigation" %}</h4>

	<code>G</code> {% trans "then" %} <code>H</code> {% trans "Go to home" %}<br>
	<code>G</code> {% trans "then" %} <code>A</code> {% trans "Go to all items" %}<br>
	<code>G</code> {% trans "then" %} <code>U</code> {% trans "Go to unread items" %}<br>
	<code>G</code> {% trans "then" %} <code>S</code> {% trans "Go to starred items" %}<br>
	<code>G</code> {% trans "then" %} <code>D</code> {% trans "Go to the dashboard" %}<br>
	<code>G</code> {% trans "then" %} <code>M</code> {% trans "Go to the feed management view" %}<br>

	<h4>{% trans "Entries list" %}</h4>

	<code>{% trans "Shift" %}+A</code> {% trans "Mark current page as read" %}<br>
	<code>{% trans "Control" %}+{% trans "Shift" %}+A</code> {% trans "Mark all as read in current view" %}<br>
	<code>{% trans "Control" %}+Z</code> {% trans "Undo last mark-as-read action" %}<br>
	<code>{% trans "Enter" %}</code> {% trans "Open the first item in the list" %}<br>

	<h4>{% trans "Entry detail" %}</h4>

	<code>J</code>/<code>K</code>, <code>→</code>/<code>←</code> {% trans "View next/previous item" %}<br>
	<code>S</code> {% trans "Toggle star" %}<br>
	<code>M</code> {% trans "Mark item as unread" %}<br>
	<code>V</code> {% trans "View original page" %}<br>
	<code>E</code> {% trans "Email item" %}<br>
	<code>T</code> {% trans "Tweet item" %}<br>
	<code>+</code> {% trans "Share on Google+" %}<br>
	<code>I</code> {% trans "Read later" %}<br>
</div>
