{% extends "admin/base_site.html" %}

{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="{% url "admin:index" %}">{% trans "Home" %}</a> &rsaquo;
		<a href="{% url "rq_stats" %}">{% trans "RQ Status" %}</a> &rsaquo;
		{{ title }}
	</div>
{% endblock %}

{% block content %}
	<div id="content-main">
		<div class="module">
			<dl>
				<dt>{% trans "State" %}</dt>
				<dd>{{ worker.state }}</dd>
				<dt>{% trans "Queue names" %}</dt>
				<dd><ul>{% for name in worker.queue_names %}
					<li>{{ name }}</li>
				{% endfor %}</ul></dd>
				<dt>{% trans "Redis key" %}</dt>
				<dd>{{ worker.key }}</dd>
				<dt>{% trans "PID" %}</dt>
				<dd>{{ worker.pid }}</dd>
			</dl>
		</div>
	</div>
{% endblock %}
