{% extends "profiles/profile_base.html" %}

{% block title %}{% trans "Delete your account" %}{% endblock %}

{% block delete_selected %}current{% endblock %}

{% block profile_content %}
	<h2>{% trans "Delete your account" %}</h2>
	<p>{% trans "You are about to delete your account. It is a two-step process that requires an email verification for security reasons. Once deleted, you won't be able to recover your account." %}</p>
	<p>{% url "export" as dump_url %}{% blocktrans %}Before you go, you might be interested in a <a href="{{ dump_url }}">backup of your data</a>.{% endblocktrans %}</p>
	<form method="post" action="{% url "destroy_account" %}" id="delete">
		{% include "form.html" %}
		<div class="row">
			<div class="submit">
				<input type="submit" value="{% trans "Request account deletion" %}">
				<a href="{% url "profile" %}">{% trans "Cancel" %}</a>
			</div>
		</div>
	</form>
{% endblock %}
