{% extends "profiles/profile_base.html" %}

{% block stats_selected %}current{% endblock %}

{% block profile_content %}
	<h2>{% trans "Stats" %}</h2>

	<p>{% blocktrans with since=user.date_joined|timesince %}You've been a FeedHQ user for <strong>{{ since }}</strong>.{% endblocktrans %}</p>

	<ul>
		<li>{% blocktrans count counter=categories %}{{ counter }} category{% plural %}{{ counter }} categories{% endblocktrans %}</li>
		<li>{% blocktrans count counter=feeds %}{{ counter }} feed{% plural %}{{ counter }} feeds{% endblocktrans %}</li>
		<li>{% blocktrans count counter=entries %}{{ counter }} entry{% plural %}{{ counter }} entries{% endblocktrans %}</li>
	</ul>
{% endblock %}
